h1 {
    font-family: 'Lato', sans-serif;
    color: #74BDCB;
    text-shadow: 1px 1px 2px #FFA384, 0 0 1em black, 0 0 0.2em blue;
}

h1 {
    text-align: center;
}

#table-head {
    background-color:#74BDCB;
}

#table-body  {
    background-color:#abe9f5;
}
#table-footer {
    background-color:#74BDCB;
}

body {
    background-color: #FFA384;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

#index {
    color: #74BDCB;
    text-shadow: 1px 1px 2px #FFA384, 0 0 1em black, 0 0 0.2em blue;
}

main img {
    border-radius: 30px;
    width: 30%;
    margin: 10px;;
}

.front-page {
    width: 9.5%;
}

a {
text-decoration: none;
color: #74BDCB;
text-shadow: 1px 1px 2px #FFA384, 0 0 1em black, 0 0 0.2em blue;
font-size: large;
margin-right: 10px;
}

#links {
    margin-bottom: 10px;
}

footer {
    color: #74BDCB;
    text-shadow: 1px 1px 2px #FFA384, 0 0 1em black, 0 0 0.2em blue;
    position: absolute;
    bottom: 0;
    width: 100%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #E7F2F8;;
    border: thin solid #74BDCB;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;   
}

li {
    margin: 10px;
}

#bottom {
    margin-top: 20px;
}

#stand-form {
    margin-top: 10px;
    display: flex;
    justify-content:flex-start;
    color: rgb(106, 67, 67);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

legend {
    color: rgb(106, 67, 67);
    text-shadow: 1px 1px 2px #FFA384, 0 0 1em black, 0 0 0.2em rgb(9, 9, 32);
}

button {
    background-color: #FFA384;
    color: rgb(106, 67, 67);
    }

button:hover {
    background-color: #74BDCB;
    color: rgb(106, 67, 67);
    transition: background-color 350ms ease;
}

fieldset {
   background-color: #EFE7BC;
   
}

input {
    display: flex;
    flex-direction: column;
    background-color: #FFA384;
    color:rgb(106, 67, 67);
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}