* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #FEEFEA;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #FFA07A;
  text-align: center;
  padding: 20px;
}

h1 {
  font-family: 'Georgia', serif;
  font-size: 36px;
  margin-bottom: 10px;
  color: #fff;
}

#links {
  margin-top: 10px;
}

#links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #FFA07A;
  color: #fff;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #FF6347;
}

tfoot {
  background-color: #FF6347;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

#gallery img {
  width: 250px;
  height: 200px;
  margin: 10px;
  border: 2px solid #FFA07A;
  border-radius: 50%;
}

.front-page {
  width: 100px;
  height: auto;
  display: inline-block;
  margin: 5px;
}

footer {
  background-color: #FFA07A;
  justify-content: center;
  text-align: center;
  padding: 10px;
  color: #fff;
  width: 100%;
}

footer svg {
  margin: 0 5px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

fieldset {
  border: 2px solid #FFA07A;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  font-size: 24px;
  color: #FFA07A;
  margin-bottom: 10px;
}

form label {
  color: #333;
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #FFA07A;
  border-radius: 5px;
}

form button {
  background-color: #FFA07A;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #FF6347;
}

.pos-footer {
  position: absolute;
  bottom: 0;
}

#index {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin-top: 80px;
  background-color: #FFF;
  border: 2px solid #FFA07A;
  border-radius: 10px;
}

#index h2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Georgia', serif;
  font-size: 24px;
  color: #FFA07A;
}

#index div {
  margin-bottom: 20px;
}

#index ul {
  list-style: none;
}

#index li {
  margin-bottom: 5px;
}

#index a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dotted #FFA07A;
}

#index a:hover {
  color: #FFA07A;
}

#bottom {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
